@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur l'application Vaccinator.</h1>
    <p>Vous pouvez voir la  <a class="nav-link text-black" asp-area="" asp-controller="Personnes" asp-action="Index">liste des personnes</a>
    ou bien nos <a class="nav-link text-black" asp-area="" asp-controller="Vaccins" asp-action="Index">Vaccins</a>
    ou simplement faire une <a class="nav-link text-black" asp-area="" asp-controller="Injections" asp-action="Index">Injection</a></p>
</div>
